.question-page {
  margin: 60px 0;
  & p {
    line-height: 1.7;
  }
  & blockquote {
    font-size: 14px;
    font-style: italic;
    padding: 10px 20px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    position: relative;
    &:before {
      content: '';
      height: 100%;
      width: 4px;
      background: var(--bg-secondary);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 3px;
    }
  }
  & pre {
    display: block;
    padding: 10px;
    border-radius: 15px;
    background: var(--light-grey);
    overflow: auto;
    line-height: 1.5;
    font-size: 15px;
  }
  & code {
    background: var(--light-grey);
    border-radius: 5px;
    padding: 2px 4px;
  }
  a {
    text-decoration: underline;
    color: var(--accent);
    transition: opacity .2s linear;
    &:hover {
      opacity: .8;
    }
  }
}