.radio-btn {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  &:hover & {
    &__flag {
      opacity: .7;
    }
  }
  &:active & {
    &__flag {
      opacity: 1;
    }
  }
  & + & {
    margin-top: 10px;
  }
  &__input {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }
  &__flag {
    width: 16px;
    height: 16px;
    background:var(--accent-light);
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    transition: opacity .2s;
    &:before {
      content: '';
      width: 50%;
      height: 50%;
      background: var(--accent);
      border-radius: inherit;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .2s;
      opacity: 0;
    }
    &.active {
      &:before {
        opacity: 1;
      }
    }
  }
}