body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  width: 100vw;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}
*:focus {
  outline: 1px dashed var(--focus);
}