:root {
  --accent: #1e3799;
  --accent-light: rgba(30, 55, 153, .2);
  --accent-dark: #0c2461;
  --white: #fff;
  --black: #000;
  --grey: #d7d8e2;
  --light-grey: #ecf0f1;
  --bg-secondary: rgba(173, 194, 255, 0.46);
  --focus: #6a89cc;
}
