.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  & > div {
    position: relative;
  }
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms linear 250ms;
}

.fade-exit {
  opacity: 1;
}
.fade-exit, .fade-exit-active {
  opacity: 0;
  transition: opacity 250ms linear;
}
