.modal {
  position: fixed;
  overflow: auto;
  height: 100vh;
  &, &__overlay {
    width: 100%;
    left: 0;
    top: 0;
  }
  &__overlay {
    position: fixed;
    background: rgba(0,0,0, .5);
    height: 100%;
  }
  &__content {
    position: relative;
    z-index: 1;
    margin: 40px auto;
    max-width: 1024px;
  }
}
