.header {
  background: var(--accent-dark);
  color: var(--white);
  width: 100vw;
  box-shadow: 0 0 10px rgba(0,0,0, 1);
  &__link {
    transition: opacity .2s linear;
    padding: 20px 0;
    display: inline-block;
    &:hover {
      opacity: .8;
    }
  }

}