.search {
  margin-top: 40px;

  &__label {
    position: relative;
    display: flex;
    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: transform .25s, background-color .2s;
    }
    &:before {
      height: 1px;
      background: var(--grey);
    }
    &:after {
      height: 2px;
      transform: scaleX(0);
      background: var(--accent);
      transform-origin: left center;
    }
    &:focus-within {
      & .search__label-text {
        transform: translateY(-32px);
        font-size: 12px;
      }
      & .search__input::placeholder {
        color: var(--grey);
      }
      &:after {
        transform: scaleX(1);
      }
    }
    &:hover {
    }

  }

  &__label-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .2s linear, font-size .2s linear;
    pointer-events: none;
    color: var(--accent);
  }

  &__input {
    border: none;
    padding: 15px 15px 15px 0;
    width: 100%;
    &::placeholder {
      transition: color .2s linear;
      color: transparent;
    }
    &:focus {
      outline: none;
    }
  }
  &__input:not([value='']) + &__label-text {
    transform: translateY(-32px);
    font-size: 12px;
  }

  &__btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--accent);
    transition: color .2s, background-color .2s;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    &:disabled {
      color: var(--grey);
      cursor: default;
      pointer-events: none;
    }
    &:hover {
      background: rgba(0,0,0, .02);
    }
    &:active {
      background: rgba(0,0,0, .1);
    }
    & a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}