.table {
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 5px;
  margin: 25px auto;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 10px 26px rgba(0, 0, 0, .1);

  & th,
  & td {
    padding: 12px 15px;
    &:first-child {
      width: 15%;
    }
    &:nth-child(2) {
      width: 55%;
    }
    &:nth-child(3) {
      width: 10%;
    }
    &:nth-child(4) {
      width: 15%;
    }
  }
  & tbody {
    background: #fff;
  }
  & tbody tr {
    border-bottom: 1px solid var(--grey);
    background: var(--white);
    transition: background-color .2s linear;

    &:hover {
      background: var(--light-grey);
    }
  }
  a {
    text-decoration: underline;
    transition: color .2s;
    line-height: 1.7;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: var(--accent);
    }
    &:active {
      color: var(--accent-dark);
    }
  }
}
