.answer {
  border: 1px solid var(--bg-secondary);
  padding: 10px 10px 10px 40px;
  border-radius: 10px;
  & + & {
    margin-top: 40px;
  }
  &__author {
    color: var(--accent);
    span {
      font-size: 12px;
      font-weight: 400;
      color: var(--black);
    }
  }
}